#imagen{
    width: 300px;
    height: 400px;
    top: 100px;
}

#tiempo{
    font-family: "Peralta", cursive;
    font-family: "Permanent Marker", cursive;
    font-family: "Roboto Mono", monospace;
}